<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
        </div>
        <div class="modal-body">
            <form id="updateForm" action="/update" method="PUT">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-5">
                        <input name="name" type="text" class="form-control" id="name-update" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label name="telephone" for="telephone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-5">
                        <input name="telephone" type="text" class="form-control" id="telephone-update" placeholder="Phone">
                    </div>
                </div>
                <fieldset class="form-group row">
                    <legend class="col-form-legend col-sm-2">Gender</legend>
                    <div class="col-sm-10 radios">
                        <div class="form-check-inline ">
                            <label class="form-check-label">
<input class="form-check-input" type="radio" name="gridRadios" id="male" value="male" checked>
Male
</label>
                        </div>
                        <div class="form-check-inline ">
                            <label class="form-check-label">
<input class="form-check-input" type="radio" name="gridRadios" id="female" value="female">
Female
</label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
<input class="form-check-input" type="radio" name="gridRadios" id="other" value="other" disabled>
Other
</label>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="update-button" type="button" class="btn btn-primary">Update</button>
        </div>
    </div>
</div>
